* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

//Sidebar
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
  width: 15rem;
  z-index: 1050;
  box-shadow: 0 0 10px 10px rgba(#999,.1);
  header {
    padding: 2rem;
    background-color: lighten(#e9e9e9,5);
  }
  nav {
    padding: 2rem;
    display: grid;
    gap: 1rem;
    a {
      display: block;
      text-decoration: none;
    }
  }
}

// Wrapper
.wrapper {
  overflow: hidden;
  height: 100vh;
}

// Grid
.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: .25rem;
  height: 125vh;
  width: 125vw;
  transform: translateX(-30vw) translateY(-25vw) rotateX(-40deg) rotateZ(-45deg);
  .item {
    background-color: #e9e9e9;
    height: calc(100vw / 6);
    &:hover {
      background-color: blueviolet;
      transform: translateY(-25px) translateX(25px);
      .shadow-1 {
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: -25px;
          height: 50%;
          border-right: 25px solid lighten(#e9e9e9,5);
          border-top: 25px solid transparent;
          border-bottom: 25px solid transparent;
        }
        &::after {
          content: "";
          position: absolute;
          left: -25px;
          bottom: -25px;
          height: 50%;
          border-left: 25px solid lighten(#e9e9e9,5);
          border-top: 0px solid transparent;
          border-bottom: 25px solid transparent;
          z-index: 1;
        }
      }
      .shadow-2 {
        &::before {
          content: "";
          position: absolute;
          bottom: -25px;
          right: 0;
          width: 50%;
          border-top: 25px solid darken(#e9e9e9,5);
          border-left: 0px solid transparent;
          border-right: 25px solid transparent;
        }
        &::after {
          content: "";
          position: absolute;
          bottom: -25px;
          left: -25px;
          right: 0;
          width: 100%;
          height: 25px;
          background-color: darken(#e9e9e9,5);
          z-index: 0;
        }
      }
    }
  }
}